.menu-div{
    position: absolute;
    user-select: none;
    width: 80%;
    height: 50%;
    border-radius: 5px;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
}
/* .menu-div-forest{
    background-color: rgba(2, 46, 3, 0.335);
} */

.menu-btn{
    cursor: pointer;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: calc(2vw + 1rem);
    font-family: "tangerine";
    padding: 10px;
    color: rgba(0, 0, 0, 0.689);
    grid-row: 1 / 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.147);
}

.menu-btn:nth-child(1){
    border-right: 1px solid rgba(0, 0, 0, 0.147);
    grid-column: 1 / 2;
    border-radius: 5px 0px 0px 0px;
}
.menu-btn:nth-child(2){
    grid-column: 2 / 3;
    border-radius: 0px 5px 0px 0px;

}
.menu-grid{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
}
.menu-btn-hover-sky{
    background-color: rgba(19, 87, 170, 0.275);


}
.menu-btn-hover-forest{
    background-color: rgba(3, 65, 0, 0.251);
}

.menu-layer{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.272);
    align-items: center;
    justify-content: center;
    padding: calc(2vw) 0px;
}
.menu-name{
    font-family: "playfair";
    font-size: calc(0.5rem + 1vw);
    font-weight: bolder;
    text-shadow: 0px 0px 1px rgba(0, 0, 130, 0.458);
    margin-bottom: 5px;

}
.menu-description{
    font-size: calc(0.4rem + 1vw);
    font-family: "karla";
    text-shadow: 0px 0px 1px rgba(13, 139, 99, 0.358);
  
}
.menu-img{
    position: absolute;
    width: 30%;
    display: none;
    left: -50px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (min-width:1050px) {
    .menu-div{
        width: 50%;
        transform: translate(-10%, -80%);
    }
}